# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "f44ad307d9168fdd00f853e9f5f19b10"
name = "Pickup App"
handle = "pickup-app-20"
application_url = "https://wholesale-neon-kenneth-pens.trycloudflare.com"
embedded = true

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products,write_cart_transforms"

[auth]
redirect_urls = ["https://wholesale-neon-kenneth-pens.trycloudflare.com/auth/callback", "https://wholesale-neon-kenneth-pens.trycloudflare.com/auth/shopify/callback", "https://wholesale-neon-kenneth-pens.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
