# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "cc0d6d49987443b3cad0abc82f357dcb"
name = "Pickup App"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,read_products,write_cart_transforms,write_orders,write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
