api_version = "2026-01"

[[extensions]]
name = "t:name"
handle = "cart-transformer"

uid = "880efb62-6c5e-ad93-d249-9913aad3d9cb8bb0dbab"

type = "function"

description = "t:description"

  [[extensions.targeting]]
  target = "purchase.cart-transform.run"
  input_query = "src/run.graphql"
  export = "run"

  [extensions.build]
  command = ""
  path = "dist/function.wasm"

  [extensions.ui.paths]
  create = "/"
  details = "/"
